<aside>
<p>Journal title</strong><br>ISSN xxxx</p>
<hr>

	<h3>About</h3>
		<p><a href="{{site.baseurl}}/meta/masthead.html">Editorial Board</a><br>
		<a href="{{site.baseurl}}/meta/submissions.html">Submission Guidelines</a><br>
		<a href="{{site.baseurl}}/meta/publication-ethics.html">Statement of Ethics</a></p>

		<h3>Issues</h3>
				<p><a href="{{site.baseurl}}/{{ site.current }}/">Current Issue</a><br>
			<a href="{{site.baseurl}}/meta/archive.html">Issue Archive</a><br>
			<a href="{{site.baseurl}}/meta/xsearch.html">Search</a></p>
		
</aside>