<aside>
<p>Journal title</strong><br>ISSN xxxx</p>
<hr>

	<h3>About</h3>
		<p><a href="{{site.baseurl}}/masthead.html">Editorial Board</a><br>
		<a href="{{site.baseurl}}/submissions.html">Submission Guidelines</a><br>
		<a href="{{site.baseurl}}/publication-ethics.html">Statement of Ethics</a></p>

		<h3>Issues</h3>
				<p><a href="{{site.baseurl}}/{{ site.current }}/">Current Issue</a><br>
			<a href="{{site.baseurl}}/archive.html">Issue Archive</a><br>
			<a href="{{site.baseurl}}/xsearch.html">Search</a></p>
		
</aside>