<!-- page citation, mla format -->

<p><strong>Citation</strong>: 

{% for author in page.bio %}

{%- assign name = site.data.bios[author] -%}

{% if author == page.bio.first %}

{{name.lastname}}, {{name.firstname}}

{%- else -%}

{%- if page.bio.size < 4 -%}

{% if page.bio.size == 2 %} and

{% elsif page.bio.size == 3 and author != page.bio.last %}, 

{% elsif page.bio.size == 3 and author == page.bio.last %}, and 

{% endif %}

{{name.firstname}} {{name.lastname}}

{%- endif -%}

{%- endif -%}

{%- endfor -%}

{% if page.bio.size > 3 %}, et. al

{%- endif -%}

. “{{page.title}}.” <em>{{site.name}}: {{site.description}}</em>, no. {{page.issue}}, {{page.year}}.<br><i class="ai ai-doi ai-1x"></i> <a href="https://doi.org/{{site.DOI}}{{page.DOI}}">https://doi.org/{{ site.DOI }}{{ page.DOI }}</a></p>


