<footer class="site-footer">
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li><a href="http://github.com/jsysresearch">Website sources</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="http://github.com/jsysresearch">JSys</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>ISSN XX-XX</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
