<div id="footer">
  <div class="container">
    <p class="credit">
	    {{site.address}} <span class="genericon genericon-star"></span>
	    <span class="genericon genericon-github"></span> <a href="http://github.com/{{ site.github }}">{{ site.github }}</a>  <span class="genericon genericon-mail"></span> <a href="mailto:{{ site.author_email }}">{{ site.author_email }}</a>  <span class="genericon genericon-twitter"></span> <a href="https://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a></p>
  </div>
</div>