<!-- parameters for image include tag
 % include image.html url="filename" alt="description" caption="caption" href="medialink" exturl="externallink" %
 min params
 % include image.html url="filename" caption="caption" %
 -->

{% if include.href %}
<figure>
<a href="{{site.media_server}}{{page.media[0].path}}{{include.href}}">
	<img src="{{site.media_server}}{{page.media[0].path}}{{include.url}}" border="0" alt="{{include.alt}}" class="img-responsive center-block" />
</a>
<figcaption>{{include.caption}}</figcaption>
</figure>
{% elsif include.exturl %}
<figure>
<a href="{{page.external_path}}{{include.exturl}}">
	<img src="{{site.media_server}}{{page.media[0].path}}{{include.url}}" border="0" alt="{{include.alt}}" class="img-responsive center-block" />
</a>
<figcaption>{{include.caption}}</figcaption>
</figure>
{% else %}
<figure>
<img src="{{site.media_server}}{{page.media[0].path}}{{include.url}}" border="0" alt="{{ include.alt }}" class="img-responsive center-block" />
<figcaption>{{include.caption}}</figcaption>
</figure>
{% endif %}