<!-- generic meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{ site.name }}: {{ site.description }} | ISSN {{ site.ISSN }}</title>
<meta name="title" content="{{page.title}}">
<meta name="description" content="{{page.description}}">
<meta name="author" content="{{page.author}}">
<meta name="keywords" content="{{page.keywords}}" />

<!-- Highwire Press data as recommended by Google Scholar http://goo.gl/BvzouD -->
<meta name="citation_title" content="{{page.title}}"/>
<meta name="citation_author" content="{{page.author}}"/>
<meta name="citation_journal_title" content="{{site.name}}: {{site.description}}"/>
<meta name="citation_issue" content="{{page.issue}}">
<meta name="citation_publication_date" content="{{page.year}}">
<meta name="citation_doi" content="{{site.DOI}}{{page.DOI}}"/>
<meta name="citation_issn" content="{{site.ISSN}}"/>
<meta name="citation_language" content="en"/>

<!-- Open Graph data -->
<meta property="og:title" content="{{page.title}}" />
<meta property="og:url" content="https://doi.org/{{site.DOI}}{{page.DOI}}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:image" content="{{site.media_server}}{{page.meta_image}}" />
