---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




/* My custom CSS */

// $orange:rgb(255,153,51);
// $dark-orange: #ab4401;

// $link-color: $dark-orange;
// $link-color-hover: $orange;
// $link-color-visited: $dark-orange;
// $primary-color: $orange;


$green: #058316;
$link-color: #000000;
$primary-color: $green;

h1,
h2,
h3,
h4,
h5,
h6 {
    color:$primary-color
}


/**
 * FontAwesome
 */

.fas, .fa, .fab, .fa-solid {
    color: $primary-color
}

// a {
//     text-decoration: none;

//     &:hover {
//         text-decoration: none;
//     }
// }

/* Animations */
$intro-transition  : none; // Disabling page transition animation

/* type scale */
$font-scaling: 1;
$type-size-1: $font-scaling*2.441em !default; // ~39.056px
$type-size-2: $font-scaling*1.953em !default; // ~31.248px
$type-size-3: $font-scaling*1.563em !default; // ~25.008px
$type-size-4: $font-scaling*1.25em !default; // ~20px
$type-size-5: $font-scaling*1em; // 1em !default; // ~16px
$type-size-6: $font-scaling*0.75em !default; // ~12px
$type-size-7: $font-scaling*0.6875em !default; // ~11px
$type-size-8: $font-scaling*0.6em !default; // ~10px

/* headline scale */
$h-font-scaling: 0.7;
$h-size-1: $h-font-scaling*1.563em !default; // ~25.008px
$h-size-2: $h-font-scaling*1.25em !default; // ~20px
$h-size-3: $h-font-scaling*1.125em !default; // ~18px
$h-size-4: $h-font-scaling*1.0625em !default; // ~17px
$h-size-5: $h-font-scaling*1.03125em !default; // ~16.5px
$h-size-6: $h-font-scaling*1em !default; // ~16px


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// =================================
// Previous SCSS data
// =================================


// // Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.35;

// $spacing-unit:     30px;

// $text-color:       rgb(70, 70, 70);
// $background-color: #fdfdfd;
// $brand-color:      #058316;
// $brand-color-light:#baefb6;

// $grey-color:       rgb(85, 85, 85);
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;



// // Using media queries with like this:
// // @include media-query($on-palm) {
// //     .wrapper {
// //         padding-right: $spacing-unit / 2;
// //         padding-left: $spacing-unit / 2;
// //     }
// // }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }



// // Import partials from `sass_dir` (defaults to `_sass`)
// @import
//         "base",
//         "layout",
//         "syntax-highlighting"
// ;



// /************************/
// /* JSys custom settings */
// /************************/

// h1, h2, h3, h4, h5, h6 {
//     color: $brand-color;
//     padding-top: 1em;
//     font-weight: 500;
// }

// // h3, h4, h5, h6 {
// //     padding-top: 1em;
// //     font-weight: 500;
// // }

// .site-header strong {
//     color: $brand-color;
//     font-weight: 600;
// }


// a:hover {
//     text-decoration: none;
// }

// .site-header {
//     border: none;
//     min-height: 150px;
//     // background-color: $brand-color-light;
// }

// .site-title a {
//     /* padding: .5em .75em .25em 1em;
//     color:  white; */
//     background-color:  none;
//     color:  $brand-color;
//     /*font-size: 80%;*/
//     font-weight: 100;
//     margin: auto;
//     line-height: 200px;
//     letter-spacing: .25em;
//     text-transform: uppercase;
// }

// .site-title a:hover {
//     text-decoration: none;
//     background-color:  transparent;
// /*    color: white;*/
// }

// .site-nav a {
//     font-size: 14px;
//     color: $brand-color;
//     font-weight: 400;
// }

// .site-nav a:hover {
//     text-decoration: none;
//     color: $brand-color;
//     background-color:  transparent;
// }

// .post-content {
//     h2 {
//         font-size: 20px;
//         @include media-query($on-laptop) {
//             font-size: 16px;
//         }
//     }
//     h3 {
//         font-size: 16px;

//         @include media-query($on-laptop) {
//             font-size: 16px;
//         }
//     }
//     h4 {
//         font-size: 16px;
//         @include media-query($on-laptop) {
//             font-size: 16px;
//         }
//     }
// }


// a.bibtag {
//     padding: .25em .5em .1em .5em;
//     background-color:  $brand-color;
//     color:  white;
//     border-radius: 2px;
// }


// .collapse {
//     font-size: 90%;
//     color: $text-color;
//     background-color: $brand-color-light;
//     border: 1px solid $text-color;
// }



// pre,code {
//   border: none;
//   color: #555555;
//   background: none;
// }

// .post-tag, .post-tag a {
//   color: #fff;
//   background-color: #aaa;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   padding: 2px 12px;
//   line-height: 1.5;
//   border-radius: 3px;
// }

// .footer-col-wrapper {
//     font-size: 12px;
//     text-align: center;
//     border-top: 1px solid $grey-color-light;
//     padding: 10px 0;  
// }


// .site-footer {
// //    border-top: 1px solid $grey-color-light;
//     border: none;
//     padding: 0;
// }

// .highlight {
//     background: $brand-color-light;
// }

// li p small {
//     display: block;
//     width: 50%;
//     line-height: 1.25em !important;
//     /*padding-left: 10px;*/
//     border-top:    1px solid black;
//     margin-top:    0.50em;
//     padding-top:   0.50em;
//     margin-bottom: 2.00em;
// }

// ol.bibliography {
//     font-size: 100%;
//     line-height: 1.25em;
// }



// /**
//  * Tables
//  */

// table {
//     clear: both;
// }
// table td {
//     vertical-align: top;
// }

// // table td:first-child{
// //     width:20%;
// // }

// table .column-short {
//     width: 60px;
// }

// .thumbnail {
//     border: 1px solid black;
// }

// div.bib-entry-highlight {
//     width: 100%;
//     padding: 1.5em;
//     color: white;
//     background-color: $brand-color;
//     // border: 1px solid black;
// }

// img.ten-years-challenge {
// /*    float: right;
//     width: 25%; */
//     border: 1px solid black;
// }


// /**
//  * FontAwesome
//  */

// .fas, .fa, .fab {
//     color: $brand-color;
// }