@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,700);	
			            /* aside styles
-------------------------------------------------- */

.content {
    width: 68%;
    float: left;
    padding-right:2%;
}
aside {
    width: 30%;
    float: right;
    background: #930;
    color:white;
    padding:3%;
    margin-top:20px;
}

@media only screen and (max-width: 768px) {    
    aside, .content {
        float: none;
        width: 100%;
    }
}

            /* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 90px;
  background-color: #f5f5f5;
  	font-family: 'Lato', sans-serif;
	font-weight:400;
	background-color:#000;
	padding-top:5px;
	padding-left:20px;
	text-align:left;
	xxfont-size:0.9em;
	color:#CCC;
	xxline-height:140%;
	width:100%;
}

/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 0px 15px 15px;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.page-header {
  padding-bottom: 9px;
  margin: 50px 0 20px;
  padding-top:30px;
  border: 0px;
  color:#ccc;
}

.page-header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .page-header {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .page-header {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1170px;
  }
}
.page-header h1 {
	font-family: 'Roboto Slab', serif;font-weight:400;
	font-size:3em;
	line-height:120%;
}

.page-header h2 {	
	font-family: 'Lato', Myriad Pro, sans-serif;
	text-transform:uppercase;
	font-weight:300;
	font-size:1.2em;
	line-height:140%;
}
.page-header h3 {			
	font-family: 'Lato', Myriad Pro, sans-serif;
	font-weight:300;
	text-transform:uppercase;
	font-size:1em;
	line-height:140%;

}

.navbar-default {
	xxbackground-color:transparent;
		border-bottom:0px;
}
.navbar a:visited {
	xxcolor:white;
}
.navbar-fixed-top a:visited {
	xxcolor:white;
}
.navbar-default a:visited {
	xxcolor:white;
}
.navbar-header a:visited {   /* hyperrhiz */
	xxcolor:white;
}
.navbar-brand a:visited {
	color:white;
}
.navbar-collapse a:visited {
	color:white;
}
.collapse a:visited {
	color:white;
}
.navbar-nav a:visited {
	color:white;
}
.nav a:visited {
	color:white;
}










.header-bg {
	margin-top:50px;
  width:100%;
  height:350px;
  background-image: url('/assets/img/eye.jpg');
  background-size:cover;
}

h1 {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-weight:400;
	font-size:2.5em;
	line-height:120%;
}

h2 {	
	font-family: 'Lato', Myriad Pro, sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size:1.3em;
	line-height:120%;
}
h3 {			
	font-family: 'Lato', Myriad Pro, sans-serif;
	font-weight:400;
	xxtext-transform:uppercase;
	font-size:1.2em;
	line-height:120%;
	margin-top:1.5em;
	margin-bottom:1.3em;
}
h4 {			
	font-family: 'Lato', Myriad Pro, sans-serif;
	font-weight:400;
	font-size:1.1em;
	line-height:120%;
	margin-top:1.3em;
	margin-bottom:1em;
}
h5 {			
	font-family: 'Roboto Slab', serif;font-weight:400;
	font-weight:400;
	font-size:1em;
	line-height:120%;
	padding-top:1em;
}
.section {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-weight:400;
	text-transform: none;
	xxfont-size:1em;

}
.content {
	font-family: 'Roboto Slab', serif;font-weight:300;
	text-align:left;
	overflow:auto;
}

.content p {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-size:1em;
	line-height:160%;
}
.content li {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-size:1em;
	line-height:150%;
}
aside p {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-size:1em;
	line-height:140%;
}
.bio {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-size:0.9em;
	line-height:160%;
}
.poem {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-size:1em;
	line-height:160%;
}
aside h4 {
	font-family: 'Roboto Slab', serif;font-weight:400;
	text-transform:uppercase;
	font-size:1em;
	line-height:140%;
}
aside name {
	font-weight:400;
}
aside a:link {
	color:#C96;
	text-decoration:none;
}
aside a:visited {
	color:#C96;
	text-decoration:none;
}
aside a:hover {
	color:#C96;
	text-decoration:underline;
}
.epigraph {
	margin-top:30px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	font-style:italic;
	text-align:right;
}
.epigraph em {
	font-style:normal;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  line-height:140%;
  font-size:1.1em;
}

#navlist li
{
	display: inline;
	list-style-type: none;
	text-transform:uppercase;
	padding-right: 20px;
	xxfont-size:0.9em;
	font-family: 'Lato', Myriad Pro, sans-serif;

}
#navlist li a, a:link, a:visited, a:hover {
	color:#FFF;
	text-decoration:none;
}
#menu {
	font-family: 'Lato', Myriad Pro, sans-serif;
	background-color:#300;
	text-align:center;
	xxfont-size: 1.2em;
}

.catmenu a:link {
	color:#930;
	text-decoration:underline;
}
.catmenu a:visited {
	color:#930;
	text-decoration:underline;
}
.catmenu a:hover {
	color:#930;
	text-decoration:underline;
}

.content a:link {
	color:#930;
	text-decoration:none;
}
.content a:visited {
	color:#930;
	text-decoration:none;
}
.content a:hover {
	color:#930;
	text-decoration:none;
}
#footer a:link, a:hover {
	color:#C96;
	text-decoration:none;
}
#footer a:visited {
	color:#C96;
	text-decoration:none;
}
hr {
	border: none 0;
	border-top: 1px dotted #bbb;
	height: 1px;
	margin-top:30px;
	margin-bottom:40px;
}
.fleuron {
	width:20%;
}
#breadcrumbs {
	font-family: 'Roboto Slab', serif;font-weight:300;
	xxfont-size:1em;
	padding-left:20px;
}
#breadcrumbs a:link, a:visited, a:hover {
	color:#930;
}
.glyphicon-search {
	padding-top:4px;
}
figure {
  text-align:center;
  margin-top: 40px;
  margin-bottom: 30px;
}
figure img {
  	margin-top:10px;
	margin-bottom:10px;
}
figcaption {
	font-style: italic;
	font-size: 0.9em;
	padding-top:10px;
}
figcaption em {
	font-style: normal;
}
figure.notop {
  text-align:center;
  margin-top: 0px;
  margin-bottom: 30px;
}
.vid {
	width:100%;
	max-width:768px;
  xxpadding-left: 10px;
  margin: 30px 0px 30px 0px;
  xxborder-left: 5px solid #eee;
}
.vidtall {
	max-width:550px;
  xxpadding-left: 10px;
  margin: 30px 0px 30px 0px;
  xxborder-left: 5px solid #eee;
}
.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px;}
.audio {
	padding-top:30px;
	padding-bottom:20px;
	xxpadding-left:20px;
	margin-bottom:10px;
	margin-top:10px;
	background-color:#fdfdfd;
	text-align:center;
}
.essaytable {
	xxborder:1px solid #ccc;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;
}
.essaytable td, th {
	border:1px solid #ccc;
	padding:10px;
}
.essaytable caption {
	text-align:center;
}
.essaytable th {
	background-color:#eee;
}
.caption {
	font-size: 0.9em;
}
.footnoted {
	font-style: normal;
}
.content name {
	font-weight:400;
}
.modal { position: fixed; 
}
.modal-dialog {
	xxwidth:650px;
}
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
#footnotes a {
	text-decoration:underline;
}
#bobo p {
	padding-top:20px;
	padding-bottom:20px;
}
.indent {
	margin-left:15px;
}