
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,700);

html {
	min-height: 100%;
	position:relative;
}
#header {
	margin-top:0px;
	text-align: left;
	border:1px solid black;
}

.header-bg {
  width:100%;
  height:350px;
  background-image: url('/assets/img/eye.jpg');
  background-size:cover;
}
body 
{
	margin:0;
	font-weight:300;
	text-align:center;
	margin-bottom:70px;
}
h1 {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-weight:400;
	font-size:2.5em;
		line-height:120%;
}

h2 {	
	font-family: 'Lato', Myriad Pro, sans-serif;
	text-transform:uppercase;
	font-weight:400;
	font-size:1.2em;
}
h3 {			
	font-family: 'Lato', Myriad Pro, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:1em;
}
.section {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-weight:400;
	text-transform: none;
	font-size:1em;

}
#main {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-size:1em;
	line-height:150%;
	margin:0 auto;
	text-align:left;
	width:90%;
	overflow:auto;
	padding-bottom: 70px;
}

#main p {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-size:1em;
	line-height:150%;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}
#content {

}
#navlist li
{
	display: inline;
	list-style-type: none;
	text-transform:uppercase;
padding-right: 20px;
font-size:0.9em;
		font-family: 'Lato', Myriad Pro, sans-serif;

}
#navlist li a, a:link, a:visited, a:hover {
	color:#FFF;
	text-decoration:none;
}
#menu {
	font-family: 'Lato', Myriad Pro, sans-serif;
	background-color:#300;
	text-align:center;
	font-size: 1.2em;
}

#footer {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	background-color:#000;
	padding-top:5px;
	padding-left:20px;
	text-align:left;
	font-size:0.8em;
	color:#CCC;
	line-height:140%;
	width:100%;
}
#footer {
	position: absolute;
	bottom: 0; /* negative value of footer height */
	height: 70px;
	clear:both;
} 
#main a:link, a:visited, a:hover {
	color:#930;
}
#footer a:link, a:hover {
	color:#C96;
	text-decoration:none;
}
#footer a:visited {
	color:#C96;
	text-decoration:none;
}
hr {
	border: none 0;
	border-top: 1px dotted #bbb;
	height: 1px;
}
#breadcrumbs {
	font-family: 'Roboto Slab', serif;font-weight:300;
	font-size:1em;
	text-align:left;
	padding-left:20px;
}
#breadcrumbs a:link, a:visited, a:hover {
	color:#930;
}
.genericon-search {
	padding-top:1px;
	color:#FFF;
}
.figure {
	font-style: italic;
}
.footnote a {
	text-decoration:underline;
}