---
layout: default
---

     <div class="header-bg">
    <div class="page-header">
			{% for page in site[page.collection] %} 
				{% if page.category == lucie %}	
					<h1>{{ site.name }} {{page.issue}}</h1>     				
					<h2 class="category">{{ page.topic }}
					{% if page.subtopic %}
						:<br>{{ page.subtopic }}
					{% endif %}
					<br>{{ page.season }} {{page.year}}</h2>
				{% endif %}
			{% endfor %}
    </div> 
     </div>
     
     <div class="container">
<section class="content">

<!--<img src="{{ site.media_server }}{{ page.media[0].path }}thum.jpg">-->
<h1>{{ page.title }}</h1>
{% for name in page.names %}
<h4>{{name.role}} {{name.firstname}} {{name.lastname}}<br>{{name.affiliation}}</h4>
{% endfor %}

<hr>

 {% include citation.html %}

	{{ content }}
<hr>
    <h4><span class="genericon genericon-previous"></span> <a href="{{ site.baseurl }}/{{ page.feature[0].path }}{{ page.feature[0].home }}">Introduction</a></h4>


</section>

 {% include bio.html %}


</div>
