---
layout: default
---

<div class="header-bg">
	<div class="page-header">
		
		
			{% for page in site[page.collection] %} 
				{% if page.category == lucie %}	<!-- variable lucie is declared in the default layout -->
					<h1>{{ site.name }} {{page.issue}}</h1>     				
					<h2 class="category">{{ page.topic }}
					{% if page.subtopic %}
						:<br>{{ page.subtopic }}
					{% endif %}
					<br>{{ page.season }} {{page.year}}</h2>
				{% endif %}
			{% endfor %}


	
    </div> 
</div>
     
<div class="container">
<section class="content">
<h2>{{ page.title }}</h2>
{% for name in page.names %}
<h4>{{name.role}} {{name.firstname}} {{name.lastname}}<br>{{name.affiliation}}</h4>
{% endfor %}
<hr>

 {% include citation.html %}

	{{ content }}
<hr>
     <h4><span class="genericon genericon-previous"></span> <a href="{{ site.baseurl }}/{{ page.type }}/"> {{site.name | capitalize}} {{page.issue}}</a></h4>

</section>

 {% include bio.html %}


</div>