---
layout: default
---

{% assign area = site.data.areas.meta.area | where: "id", page.id | first %}
{% assign chairs  = site.data.areas[page.id].board.chairs %}
{% assign members = site.data.areas[page.id].board.members | sort: "name" %}
{% assign cfp     = site.data.areas[page.id].cfp %}


<div class="post">

  <article class="post-content">

    <h1>{{area.title}}</h1>
  
    {% for item in cfp.introduction %}
    <p> 
      {{item.paragraph}} 
      {% if item.link %}
      <i class="fas fa-hand-point-right"></i> <a href="{{item.link}}">Nomination form</a>
      {% endif%}
    </p>
    {% endfor %}
  
    <h2>{{cfp.responsibilities.title}}</h2>
  
    <p>{{cfp.responsibilities.text}}</p>
    <ul>
      {% for item in cfp.responsibilities.items %}
      <li> {{item}} </li>
      {% endfor %}
    </ul>

    <h2>Area Board</h2>

    <div>
      The {{area.title}} area is chaired by
      <ul>
        {% for chair in chairs %}
        <li>
          <a href="{{chair.webpage }}">{{ chair.name }}</a>, {{chair.affiliation}}  <br />
          {% if chair.email %}
            <i class="fas fa-envelope"></i>&nbsp; 
            <a href="mailto{{chair.email}}">{{ chair.email }}</a>
          {% endif %}
        </li>{% endfor %}
      </ul>
      
      and its editorial board is composed of
      <ul>
        {% for member in members %}
        <li>
          <a href="{{member.webpage }}">{{ member.name }}</a>, {{member.affiliation}} 
        </li>
        {% endfor %}
      </ul>
    </div>

  </article>

</div>
